 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html, body {
  color: #fff;
  background-color: #1b1b1b;
  font-family: Lato, sans-serif;
  margin-top: 40px;
 }

 h1 {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
 }

 .task-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

 .Red-Angel_logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .Red-Angel-logo {
  width: 300px;
  height: 250px;

 }

 .tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #2b2b2b;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  border: 2px solid #800;
 }